body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 1rem;
    text-transform: uppercase;
}


header{
    display:flex;
    justify-content: space-between;
    align-items: center;
} 

nav li{ 
      padding:0;
      list-style-type:none;
      margin:0;
  }


   nav ul{
    padding:0;
    margin:0;
    list-style-type: none;
  }
     

#top-nav{
    display:none;
    position:absolute;
    right:0;
    top:50px;
    border:solid 1px black;
    padding:10px;
    z-index: 100;
}

#top-nav ul{
  padding:0;
    list-style-type:none;
    margin:0;
}


#top-nav ul a{
    display: block;
    padding:5px;
    border-bottom: solid 1px black;

}

#top-nav input{
     display:block;
     margin:10px 5px;
}

.material-symbols-outlined{
    float:right;
}

.dropdown a{
    text-decoration: none;
    color:white;
}

.dropdown li a{
    color:black;
    display: block;
}

.dropdown li a:hover{
    background-color:darkgrey;
}


.dropdown{
    background-color: darkgray;
}

.dropdown ul{
    background-color: white;
    display:none;
}

.dropdown:hover ul{
display:block;
}